name: (manual) Run SonarQube scan

on:
  workflow_call:
    inputs:
      sonar-host-url:
        description: Sonar host URL
        type: string
        required: true
      project-key:
        description: Project key
        type: string
        required: true
      setup-nodejs:
        description: Whether to setup NodeJS (needed for JS/TS projects)
        type: boolean
        required: false
        default: false
      branch-name:
        description: Branch name
        type: string
        required: false
      ec2-instance-type:
        description: EC2 instance type
        type: string
        required: false
        default: t3.small

jobs:
  # We run SonarQube scan on the EC2 runner in our AWS account 
  # to allow the action to access our SonarQube service on another EC2 instance
  start-runner:
    uses: viovendi/shared-github-actions/.github/workflows/start-ec2-runner.yml@master
    secrets: inherit
    with:
      ec2-instance-type: ${{ inputs.ec2-instance-type }}

  run-sonarqube-scan:
    name: Run SonarQube scan
    needs: start-runner
    runs-on: ${{ needs.start-runner.outputs.label }}
    steps:
      - name: Get current branch name
        id: get-current-branch-name
        uses: viovendi/shared-github-actions/get-current-branch-name@master
  
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch-name || steps.get-current-branch-name.outputs.branch-name }}
          fetch-depth: 0

      - name: Setup NodeJS
        id: setup-nodejs
        if: ${{ inputs.setup-nodejs }}
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
        
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
          SONAR_HOST_URL: ${{ inputs.sonar-host-url }}
        with:
          args: >
            -Dsonar.projectKey=${{ inputs.project-key }}-${{ inputs.branch-name || steps.get-current-branch-name.outputs.branch-name }}

  stop-runner:
    needs:
      - start-runner
      - run-sonarqube-scan
    if: always()
    uses: viovendi/shared-github-actions/.github/workflows/stop-ec2-runner.yml@master
    with:
      label: ${{ needs.start-runner.outputs.label }}
      ec2-instance-id: ${{ needs.start-runner.outputs.ec2-instance-id }}
    secrets: inherit
