name: Set/unset ALB maintenance

on:
  workflow_call:
    inputs:
      microservice-name:
        description: Microservice short name
        type: string
        required: true
      environment:
        description: Environment
        type: string
        required: true
      maintenance-enabled:
        description: Maintenance enabled
        type: boolean
        required: true

jobs:
  maintenance:
    name: Set/unset ALB maintenance
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1-node16 # TODO: update with v2 when available
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Get ALB rule ARN
        id: get-alb-rule-arn
        uses: viovendi/shared-github-actions/get-infrastructure-export-value@master
        with:
          export-name: ${{ format('{0}-{1}-listener-maintenance-rule-arn', inputs.microservice-name, inputs.environment) }}

      - name: Enable maintenance mode
        if: inputs.maintenance-enabled == true
        shell: bash
        run: |
          aws elbv2 modify-rule \
            --conditions '[{"Field": "path-pattern", "Values": ["/*"]}]' \
            --rule-arn ${{ steps.get-alb-rule-arn.outputs.export-value }}

      - name: Disable maintenance mode
        if: inputs.maintenance-enabled == false
        shell: bash
        run: |
          aws elbv2 modify-rule \
            --conditions '[{"Field":"path-pattern","Values":["/*"]},{"Field":"http-header","HttpHeaderConfig":{"HttpHeaderName":"maintenance-mode","Values":["95bf0101-6da1-4396-b449-ade64b0b9203"]}}]' \
            --rule-arn ${{ steps.get-alb-rule-arn.outputs.export-value }}
